{% extends 'layouts/base.html' %}

{% block title %}
    Productos
{% endblock %}

{% block content %}
<h1>Productos</h1>
<div class="row">
  <div class="col-md-5">
    <form action="/productos" method="post">
      {% csrf_token %}

      <div class="form-group">
        <label for="nombre">Nombre del Producto</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          name="nombre"
          placeholder="Ingrese el nombre del Producto"
        />
      </div>

      <div class="form-group">
        <label for="sueldo">Seleccione el tamaño del Producto</label>
        <select name="tamaño" class="form-select"  aria-label="Default select example">
            <option value="Grande">Grande</option>
            <option value="Mediano">Mediano</option>
            <option value="Chico">Chico</option>
        </select>
      </div>


      <div class="form-group">
        <label for="sueldo">Seleccione el sabor del Producto</label>
        <select name="sabor" class="form-select"  aria-label="Default select example">
            <option value="Vainilla">Vainilla</option>
            <option value="Chocolate">Chocolate</option>
            <option value="Frutilla">Frutilla</option>
            <option value="Coco">Coco</option>
            <option value="Manzana">Manzana</option>

        </select>
      </div>


      <div class="form-group">
        <label for="precio">Precio del Producto</label>
        <input
          type="number"
          class="form-control"
          id="precio"
          name="precio"
          placeholder="Ingrese el precio del Producto"
        />
      </div>

      

    

      <button type="submit">Registrar Producto</button>
    </form>
  </div>
  <div class="col-md-7">
    {% if productos|length > 0 %}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre de Producto</th>
                <th scope="col">Tamaño</th>
                <th scope="col">Sabor</th>
                <th scope="col">Precio</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for producto in productos %}
              <tr>
                  <th scope="row">{{producto.id}}</th>
                  <td>{{producto.nombre}}</td>
                  <td>{{producto.tamaño}}</td>
                  <td>{{producto.sabor}}</td>
                  <td>{{producto.precio}} Bs</td>

                  <td>
                    <a href="/productos/update/{{producto.id}}" class="btn btn-success">Actualizar</a>
                    <a href="/productos/delete/{{producto.id}}" class="btn btn-danger confirmation">Eliminar</a>
                  </td>

                </tr>
              {% endfor %}
            </tbody>
          </table>
    {% else%}
        <h1>No hay Productos registrados!</h1>
    {% endif %}
    
  </div>
</div>
{% endblock %}